@import "./utilities/variables";

header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;

  .container {
    text-align: center;

    img {
      max-height: 110px;
    }
  }

  &.asas-logo {
    .container {
      margin-top: 10px;

      img {
        max-height: 60px;
      }
    }
  }
}

@keyframes navslide {
  0% {
    transform: translateX(300px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes navhideslide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(300px);
  }
}

nav {
  &.navbar-menu {
    position: fixed;
    z-index: 1050;
    top: 10%;
    right: 0;
    padding: 0;
    display: block;

    #headerNavbarButton {
      background: $darkGreenColor;
      border-radius: 0;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      width: 45px;
      height: 45px;
      cursor: pointer;
      float: left;
      position: relative;
      top: 0;

      &:focus {
        outline: none;
        border: none;
      }

      &.toggleclick {
        animation: navslide ease-in-out 0.6s forwards;

        img {
          transform: scaleX(-1);
        }
      }

      &.toggleclose {
        animation: navhideslide ease-in-out 1s forwards;
        animation-delay: 0.4s;
      }
    }
  }

  .navlist-ul {
    padding: 0;
    float: right;
    display: none;
    width: 300px;
    list-style: none;

    li {
      background: $darkGreenColor;
      font-size: $fontH3;
      font-weight: 100;
      text-transform: uppercase;
      margin-bottom: 12px;
      padding: 10px 20px;
      transform: translateX(300px);

      a {
        color: #fff;
      }

      &.active-btn,
      &:hover {
        opacity: 0.8;
      }

      &.navanimation {
        animation: navslide ease-in-out 0.4s forwards;

        &.nav-item {
          &-master-plan {
            animation-delay: 0.1s;
          }
          &-location {
            animation-delay: 0.2s;
          }
          &-commercial {
            animation-delay: 0.3s;
          }
          &-residential {
            animation-delay: 0.4s;
          }
        }
      }

      &.navhideanimation {
        animation: navhideslide ease-in-out 1s forwards;
        &.nav-item {
          &-master-plan {
            animation-delay: 0.4s;
          }
          &-location {
            animation-delay: 0.3s;
          }
          &-commercial {
            animation-delay: 0.2s;
          }
          &-residential {
            animation-delay: 0.1s;
          }
        }
      }
    }
  }
}
