@import "./utilities/variables";

button,
html,
body,
input,
select,
textarea {
  font-family: "Lato", sans-serif;
}

body {
  overflow: hidden;
}

h1 {
  font-size: $fontH1Small;
}

h4 {
  font-size: $fontH4Small;
}

h5 {
  font-size: $fontH5Small;
  line-height: 25px;
}

@include desktop-small {
  h1 {
    font-size: $fontH1;
  }

  h4 {
    font-size: $fontH4;
  }

  h5 {
    font-size: $fontH5;
    line-height: 30px;
  }
}

img {
  max-width: 100%;
}

.underline {
  text-decoration: underline;
}

.text-uppercase {
  text-transform: uppercase;
}

a {
  &:hover {
    text-decoration: none;
    opacity: 0.5;
    transition: 0.3s;
  }
}

.pagewrapper {
  position: relative;

  @include desktop-medium {
    .container {
      max-width: 1600px;
    }
  }
}

main {
  padding-top: 130px;

  .content-wrapper {
    z-index: 10;
  }
}

main {
  position: relative;
  width: 100%;
  height: 100vh;

  .content-wrapper {
    margin-top: 50px;
    color: $white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    &.content-footer-wrapper {
      top: auto;
      bottom: 30px;
      transform: translateX(-50%);

      .nav-tabs {
        margin: auto;
        justify-content: center;

        li {
          margin-bottom: 0;
        }

        @include mobile-and-tablet-only {
          .nav-link h5 {
            font-size: 14px;
            line-height: 18px;
          }
        }
      }
    }

    .aside-text {
      padding-right: 50px;
    }

    .block-text {
      a {
        color: #fff;
      }

      + .block-text {
        margin-top: 30px;

        @include desktop-medium {
          margin-top: 50px;
        }
      }
    }

    .aside-img {
      padding: 10px;
    }
  }
}

.plan-nav {
  &.plan-specification {
    max-height: 500px;
    overflow-y: auto;

    p,
    h4,
    table,
    h5 {
      margin-bottom: 0;

      + p {
        margin-top: 10px;
      }

      + h4,
      + table,
      + h5 {
        margin-top: 20px;
      }
    }

    ol,
    ul {
      padding-left: 20px;
    }

    table {
      td {
        padding-right: 10px;
      }
    }
  }
  @include desktop-medium {
    margin-top: 50px;
  }

  &-link {
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    line-height: 21px;
  }

  &-link-block {
    display: block;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  .nav-tabs {
    border: none;
    align-items: center;

    li {
      margin-bottom: 18px;
    }

    .nav-link {
      padding: 0;
      border: none;
      text-align: center;

      &.active {
        position: relative;

        &:before {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: -5px;
          width: 100%;
          height: 2px;
          background-color: #fff;
          // margin: auto;
          // bottom: -30px;
          // width: 15px;
          // height: 20px;
          // transform: rotate(225deg);
          // background-size: contain;
          // background: url("../images/icon/icon-arrow-up.png") no-repeat;
        }
      }

      h5 {
        margin: 0;
        line-height: 22px;
      }
    }

    .nav-link.active,
    .nav-item.show .nav-link {
      color: #fff;
      background: transparent;
      border: none;
    }
  }

  .separator-arrow {
    position: relative;
    top: 3px;
    background: url("../images/icon/icon-arrow-up.png") no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 0 30px;
  }
}

#page-location {
  background: url("../images/location-map-bg.jpg") no-repeat;
  background-size: cover;
}

.location-map-wrapper {
  background: #000;
  padding: 10px;

  &.location-map-white {
    background: #fff;
  }
}

#page-master-plan {
  background: url("../images/Plan/master-plan-bg.jpg") no-repeat;
  background-size: cover;
  main {
    .content-wrapper {
      .aside-img {
        padding: 0;
      }
    }
  }
}

#page-commercial-page-1 {
  background: url("../images/commercial/commercial.jpg") no-repeat;
  background-size: cover;
}

.page-commercial {
  background: url("../images/commercial/commercial-phase.jpg") no-repeat;
  background-size: cover;

  &#page-commercial-phase-2 {
    background: transparent;
  }
}

.page-residential {
  background: url("../images/cluster-homes/residential-bg.jpg") no-repeat;
  background-size: cover;

  &#page-residential-luna {
    background: transparent;
  }
}

#page-residential-page-1,
.page-other-project {
  background: url("../images/cluster-homes/residential-bg.jpg") no-repeat;
  background-size: cover;
}

#page-other-project {
  background: url("../images/other-projects-bg.jpg") no-repeat;
  background-size: cover;
}

#page-residensi-merbok {
  background: url("../images/other-projects/residensi-merbok/residensi-merbok-bg.jpg")
    no-repeat;
  background-size: cover;
}

#page-desa-impian {
  background: url("../images/other-projects/desa-impian/desa-impian-bg.jpg")
    no-repeat;
  background-size: cover;
}

#page-desa-impian-double-storey {
  background: url("../images/other-projects/desa-impian/desa-impian-double-storey-bg.jpg")
    no-repeat;
  background-size: cover;
}

#page-asas-jaya-light-industrial {
  background: url("../images/other-projects/kawasan-perindustrian-asas-jaya/asas-jaya-bg.jpg")
    no-repeat;
  background-size: cover;
}

#page-hijauan-valdor-phase-4 {
  background: url("../images/other-projects/hijauan-valdor-phase-4/hijauan-valdor-phase-4-bg.jpg")
    no-repeat;
  background-size: cover;
}

#page-hijauan-valdor-maple {
  background: url("../images/other-projects/hijauan-valdor-phase-4/hijauan-valdor-maple-bg.jpg")
    no-repeat;
  background-size: cover;
}

#page-hijauan-valdor-ebony {
  background: url("../images/other-projects/hijauan-valdor-phase-4/hijauan-valdor-ebony-bg.jpg")
    no-repeat;
  background-size: cover;
}

#page-hijauan-valdor-sycamore {
  background: url("../images/other-projects/hijauan-valdor-phase-4/hijauan-valdor-sycamore-bg.jpg")
    no-repeat;
  background-size: cover;
}

#page-hijauan-valdor-phase-5 {
  background: url("../images/other-projects/hijauan-valdor-phase-5/hijauan-valdor-phase-5-bg.jpg")
    no-repeat;
  background-size: cover;
}

#page-hijauan-valdor-aina {
  background: url("../images/other-projects/hijauan-valdor-phase-5/hijauan-valdor-aina-bg.jpg")
    no-repeat;
  background-size: cover;
}

#page-hijauan-valdor-haruna {
  background: url("../images/other-projects/hijauan-valdor-phase-5/hijauan-valdor-haruna-bg.jpg")
    no-repeat;
  background-size: cover;
}

.view-pop-up {
  position: relative;

  &-button {
    position: absolute;
    border: thin solid #fff;
    right: 0;
    top: 0;
    margin: 15px;
    color: $white;
    padding: 10px;
    min-width: 200px;
    text-transform: uppercase;
    text-align: center;

    &:hover {
      opacity: 1;
      background: $white;
      color: $primaryColor;
    }

    &.view-pop-up-button-black {
      border: thin solid #000;
      color: #000;

      &:hover {
        background: #000;
        color: #fff;
      }
    }
  }
}

.view-site-progress {
  margin: 15px 0 25px;

  a.view-site-progress-button {
    border: thin solid #fff;
    color: $white;
    padding: 10px 40px;
    min-width: 300px;
    text-transform: uppercase;
    text-align: center;

    &:hover {
      opacity: 1;
      background: $white;
      color: $primaryColor;
    }
  }
}

#viewLocationMapPopUp {
  .modal-content {
    background: #000;
  }

  .modal-footer {
    h4 {
      color: #fff;
    }
  }

  &.location-map-white {
    .modal-content {
      background: #fff;
    }

    .modal-footer {
      h4 {
        color: #000;
      }
    }
  }
}

.view-pop-up-modal {
  z-index: 1500;

  .modal-dialog {
    width: 63%;
    max-width: none;
    max-height: 1000px;
  }

  .modal-body {
    img {
      width: 100%;
      height: auto;
    }
  }
  .modal-footer {
    padding-top: 0;
    border-top: none;
    h4 {
      margin: auto;
      text-align: center;
    }
  }
}

.page-main-property {
  .view-pop-up-modal {
    .modal-dialog {
      width: 74%;
    }
  }
}

// #page-hijauan-valdor-phase-4 {
//   .view-pop-up-modal {
//     .modal-dialog {
//       width: 50%;
//     }
//   }
// }

button.close,
.close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 16px;
  font-size: $fontH3;
  background: #fff;
  padding: 10px;
  opacity: 1;

  &.close-unit {
    top: -77px;
    right: 9px;
    margin: 0;
  }

  &.close-main-page {
    top: -110%;
    right: 0;
  }

  img {
    max-width: 25px !important;
  }

  &:hover {
    transition: 0.3s;
  }

  &:focus,
  &:hover {
    outline: none;
    border: none;
  }
}

.master-plan-wrapper {
  .close {
    top: 17%;
    right: 10%;
    z-index: 1000;

    img {
      position: relative;
      width: auto;
      top: 0;
      left: 0;
    }
  }
}

#page-residential-page-1 {
  .close {
    top: -110%;
    right: 0;
  }
}

#carouselButtons {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 10;

  button {
    background: #fff;
    border-radius: 0;
    width: 38px;
    height: 34px;
    padding: 2px 0;

    &#playButton {
      display: none;
    }

    img {
      height: 100%;
      max-width: 100%;
    }

    &:hover {
      opacity: 0.5;
      transition: 0.5s;
    }

    &:focus {
      box-shadow: none;
    }
  }
}

.carousel {
  .carousel-item {
    height: 100%;

    img {
      height: 100%;
      width: auto;
      margin: auto;
      background: #fff;
    }
  }
}

.small-slider {
  .carousel-inner {
    width: 100%;
    height: 56vh;
  }
}

.carousel-indicators {
  &.carousel-indicators-custom {
    bottom: -45px;
  }

  li {
    background: transparent;
    border: thin solid #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;

    &.active {
      background: #fff;
    }
  }
}

.overlay-bg {
  position: fixed;
  display: none;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
